@import url('https://fonts.googleapis.com/css?family=Fondamento&display=swap');

*{
	margin:0;
	padding:0;
	list-style:none;
	
	}
	
.borrar {
		display: none;
	  }
	  
.anadir {
		display: block;
	  }

header{
	position:relative;
	margin:20px auto;
	widows: 1000px;
	height:120px;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.5);
	
	}

p {
	color: blue;
	font-family: 'Fondamento', sans-serif ;	
	font-size: large;
	position: relative;
	top: 50px;
}

h2 {
	color: blue;
	font-family: 'Fondamento', sans-serif ;	
	position: relative;
	top: 30px;	
}

.header-text{	
margin-top: 10px;
margin-left: 350px;
font-size: xx-large;
color:blue;
font-family: 'Fondamento', sans-serif ;
}

.sec-text{
	position:relative;
    font-size: medium;
    color:blue;
    font-family: 'Fondamento', sans-serif ;
}

.card {
	position:relative;
	margin:50px auto;
	width:150px;
	height:40px;
	border-radius: 15px;

}

main {
	background-image: url(img/tendencia.jpg);
	background-size: cover;	
	width:100%;
	height:500px;
}

	
body {
		background-image: url(img/header.png);
		background-size: auto;
		
	}

.general {
	margin-top: 0px;
	margin-left: 400px;	
}


	  
.logo{
   position: relative;
   top: -35px;
   height:120px;
   
}

.logo1{
	position: relative;
	top: 50px;
	height:120px;
	border-radius:100%;
	text-align:center;
	
 }



.redes{
	position:absolute;
	width:42px;
	height:42px;
	border-radius:100%;
	text-align:center;
	line-height:42px;
	}

#icono1{
	top:42px;
	right:120px;
	background-image: url(img/face.png);
	background-size: cover;
	}

#icono2{
	top:42px;
	right:71px;
	background-image: url(img/whatsapp.png);
	background-size: cover;
	}

#icono3{
	top:42px;
	right:19px;
	background-image: url(img/instagram.png);
	background-size: cover;
	}

nav{
	position:relative;
	margin:inherit;
	width:1000px;
	height:48px;
	}
	

.intro1{
	   margin: 20px auto; 
	   position:absolute;
	   top:38%;
	   left:38%;
       width:20%;
	   height:400px;
	   text-align:center;
	   border: 1px solid black;
	   border-radius: 15px;
	   background: rgba(255, 255, 255, 0.8);
	   background-size: cover;
	   
	} 
	.ver {
		position:absolute;
		top:68%;
		left:43%;
		font-size: large;
        color: green;
		 
	 }

	 .ver1 {
		position:absolute;
		top:75%;
		left:40%;
		font-size:x-large;
        color:blue;
		
	 }

.intro {
	margin: 20px auto; 
	position:relative;
	top:45px;
	width:80%;
	height:1500px;
	text-align:center;
	border: 1px solid black;
	border-radius: 15px;
	background:rgba(255, 255, 255, 0.8);
	}

.paso1 {
	position: relative;
	margin-top: 50px;
	width:120px;
	height:100px;
	border-radius:100%;
	text-align:center;
}

.paso2 {
	position: relative;
	margin-top: 50px;
	width:220px;
	height:200px;
	border-radius:100%;
	text-align:center;
}
	
footer{
   position: relative;
    margin-top: 1100px;
    width:100%;
    height:70px;
    background:blue;
    text-align:center;
    line-height:70px;
	color:white;
	border-radius: 15px;
	border-radius: 1px solid black;
		
		}

.boton{
	margin: 0px auto;
	background-color: rgb(118, 189, 118); 
	border-radius: 15px;
	color: white;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	font-family: 'Fondamento', sans-serif ;
}

 .boton:hover{
	background-color:blue;
}

.alerta {
	
	position:relative;
	top:330px;
	left:500px;
	width:150px;
	height:40px;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	font-family: 'Fondamento', sans-serif ;
	color:red;
	background-color: rgba(255, 255, 255, 0.1); 
	
}

.general {
	display: flex;
	flex-wrap: nowrap;
}