@import url('https://fonts.googleapis.com/css?family=Fondamento&display=swap');

*{
	margin:0;
	padding:0;
	list-style:none;
	
	}

.anadir {
		display:block;
	  }
	
.borrar {
		display: none;
	  }

header{
	position:relative;
	margin:20px auto;
	width:1000px;
	height:120px;
	border-radius: 15px;
	/* border: 3px solid blue; */
	background: rgba(255, 255, 255, 0.5);
	
	}

p {
	color: blue;
	font-family: 'Fondamento', sans-serif ;	
	position: relative;
	top: 50px;
}

.header-text{
margin-top: 10px;
margin-left: 350px;
font-size: xx-large;
color:blue;
font-family: 'Fondamento', sans-serif ;
}

.sec-text{
	position:relative;
	margin:0px auto;
    font-size: medium;
    color:blue;
    font-family: 'Fondamento', sans-serif ;
}

.card {
	position:relative;
	margin:50px auto;
	width:150px;
	height:40px;
	border-radius: 15px;

}

main {
	background-image: url(img/tendencia.jpg);
	background-size: cover;	
	width:1400px;
	height:500px;
}

	
body {
		background-image: url(img/header.png);
		background-size: auto;
	}

.general {
	margin-top: 0px;
	margin-left: 400px;	
}


	  
.logo{
   position: relative;
   top: -35px;
   height:120px;
   
}

.redes{
	position:absolute;
	width:42px;
	height:42px;
	border-radius:100%;
	text-align:center;
	line-height:42px;
	}

#icono1{
	top:42px;
	right:120px;
	background-image: url(img/face.png);
	background-size: cover;
	}

#icono2{
	top:42px;
	right:71px;
	background-image: url(img/whatsapp.png);
	background-size: cover;
	}

#icono3{
	top:42px;
	right:19px;
	background-image: url(img/instagram.png);
	background-size: cover;
	}

nav{
	position:relative;
	margin:inherit;
	width:1000px;
	height:48px;
	}
	

.intro1{
	   margin: 20px auto; 
	   position:absolute;
	   top:250px;
	   left:830px;
       width:300px;
	   height:260px;
	   text-align:center;
	   
	   border: 1px solid black;
	   border-radius: 15px;
	   background: rgba(255, 255, 255, 0.8);
	background-size: cover;
	   
	} 

.intro {
	margin: 20px auto; 
	position:relative;
	top:45px;
	right:300px;
	width:480px;
	height:300px;
	text-align:center;
	border: 1px solid black;
	border-radius: 15px;
	background:rgba(255, 255, 255, 0.8);
	
	
	}
	


footer{
   
    margin:450px auto;
    width:1000px;
    height:70px;
    background:blue;
    text-align:center;
    line-height:70px;
	color:white;
	border-radius: 15px;
	border-radius: 1px solid black;
		
		}

.boton{
	margin: 0px auto;
	background-color: rgb(118, 189, 118); 
	border-radius: 15px;
	color: white;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	font-family: 'Fondamento', sans-serif ;
}

 .boton:hover{
	background-color:blue;
}

