*{
	margin:0;
	padding:0;
	list-style:none;
	font-family:Cottonwood;
	
	}

header{
	position:relative;
	margin:20px auto;
	width:1000px;
	height:120px;
	border-radius: 15px;
	border: 3px solid blue;
	
	}
main {
	background-image: url(img/tendencia.jpg);
	background-size: cover;	
	width:1400px;
	height:500px;
}

	
body {
		background-image: url(img/header.png);
		background-size: auto;
	}

.general {
	margin-top: 0px;
	margin-left: 400px;	
}
	  
.logo{
   height:120px;
   border: 1px solid blue;
   border-radius: 15px;
}

.redes{
	position:absolute;
	width:42px;
	height:42px;
	border-radius:100%;
	text-align:center;
	line-height:42px;
	}

#icono1{
	top:42px;
	right:120px;
	background-image: url(img/face.png);
	background-size: cover;
	}

#icono2{
	top:42px;
	right:71px;
	background-image: url(img/whatsapp.png);
	background-size: cover;
	}

#icono3{
	top:42px;
	right:19px;
	background-image: url(img/instagram.png);
	background-size: cover;
	}

nav{
	position:relative;
	margin:inherit;
	width:1000px;
	height:48px;
	}
	

section{
	   margin: 20px auto; 
	   position:absolute;
	   top:200px;
	   left:830px;
       width:300px;
	   height:160px;
	   text-align:center;
	   border: 1px solid black;
	   border-radius: 15px;
	   background-image: url(img/header.png);
	background-size: cover;
	   
	}     

	
aside#central input[type="number"]{
	    background:white;
		margin: 60px;
		width:200px;
		height:80px;
		background-repeat:no-repeat;
		background-position:right;
		background-size:contain;
		 }
.card {
	position:relative;
	margin:10px auto;
	width:150px;
	height:40px;
	border-radius: 15px;

}

footer{
   
    margin:450px auto;
    width:1000px;
    height:70px;
    background:blue;
    text-align:center;
    line-height:70px;
	color:white;
	border-radius: 15px;
	border-radius: 1px solid black;
		
		}

.boton{
	margin: 0px;
	background-color:blue; 
	border-radius: 15px;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
}

 .boton:hover{
	background-color:green;
}